name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-sonar:
    runs-on: windows-latest

    env:
      DOTNET_VERSION: '8.0.x'
      SONAR_PROJECT_KEY: Gifmaniac_BMTHBackend2
      SONAR_ORG: gifmaniac

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install SonarScanner for .NET
        run: dotnet tool install --global dotnet-sonarscanner

      - name: dotnet linting
        shell: powershell 
        run: |
          dotnet format --verify-no-changes
          dotnet build "$env:GITHUB_WORKSPACE\BMTH Application (back end)\BMTH Application (back end).sln" --configuration Release

      - name: Create coverage folder
        run: mkdir coverage

      - name: Begin Sonar Analysis
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner begin `
            /k:"${{ env.SONAR_PROJECT_KEY }}" `
            /o:"${{ env.SONAR_ORG }}" `
            /d:sonar.host.url="https://sonarcloud.io" `
            /d:sonar.token="$env:SONAR_TOKEN" `
            /d:sonar.cs.opencover.reportsPaths="${{ github.workspace }}/coverage/*.opencover.xml" `
            /d:sonar.coverage.exclusions="
            **/DataLayer/Context/**,**/DataLayer/Models/**,**/DataLayer/Migrations/**,
            **/Contracts/**,
            **/BMTH Application (back end)/**/Controllers/**,**/BMTH Application (back end)/**/Middleware/**,**/BMTH Application (back end)/**/Program.cs,**/BMTH Application (back end)/**/wwwroot/**,**/obj/**,**/bin/**,
            **/BusinessLayer/Helper/AutoMapper/**, **/BusinessLayer/Exceptions/**, **/BusinessLayer/Helper/Validator/**,**/BusinessLayer/Exceptions/**"

      - name: Restore
        shell: powershell
        run: |
          dotnet restore "BMTH Application (back end)/BMTH Application (back end).sln"

      - name: Build
        shell: powershell
        run: |
          dotnet build "BMTH Application (back end)/BMTH Application (back end).sln" --no-restore

      - name: Run Unit Tests + Coverage
        shell: powershell
        working-directory: "BMTH Application (back end)/Test.Unit"
        run: |
          dotnet test Test.Unit.csproj `
            /p:CollectCoverage=true `
            /p:CoverletOutputFormat=opencover `
            /p:CoverletOutput="${{ github.workspace }}/coverage/coverage.unit.opencover.xml"

      - name: Run Integration Tests + Coverage
        shell: powershell
        working-directory: "BMTH Application (back end)/Test.Integration"
        run: |
          dotnet test Test.Integration.csproj `
            /p:CollectCoverage=true `
            /p:CoverletOutputFormat=opencover `
            /p:CoverletOutput="${{ github.workspace }}/coverage/coverage.integration.opencover.xml"

      - name: Debug coverage files
        shell: powershell
        run: |
          Write-Host "Coverage files found:"
          Get-ChildItem "${{ github.workspace }}\coverage"

      - name: End Sonar Analysis
        shell: powershell
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner end `
            /d:sonar.token="$env:SONAR_TOKEN"
